.fca_form_field_container {
    display: table;
    width: 100%;
    margin-top: 11px;
    margin-bottom: -11px;
}

.fca_form_field_group {
    display: table-row-group;
}

.fca_form_field {
    display: table-row;
}

.fca_form_field_short {
    width: 50px;
}

.fca_form_field_title,
.fca_form_field_content {
    vertical-align: top;
    display: table-cell;
    padding-bottom: 11px;
    height: 30px;
}

.fca_form_field_title {
    white-space: nowrap;
    width: 1px;
    padding-right: 11px;
}

.fca_form_field_content textarea {
    width: 100%;
    height: 10em;
}

.fca_form_info {
    display: block;
    font-style: italic;
}
