@import "lib/fca_reset/fca_reset.scss";

div.fca_fbc_poll_frontend_component {
	display: none;
	position: fixed;
	bottom: 0;
	right: 50px;
	color: $foreground-color;
	font-family: $font-family;
	font-size: $font-size;
	-webkit-font-smoothing: subpixel-antialiased;
	cursor: default;
	z-index: 999999980;

	&, * {
		@include fca_reset();
	}

	div.fca_fbc_poll_frontend_component_handle_container {
		text-align: right;

		div.fca_fbc_poll_frontend_component_handle {
			background: $background-color;
			display: inline-block;
			padding: 3px 15px;
			text-align: center;
			margin-right: 15px;
			border-top-left-radius: $border-radius;
			border-top-right-radius: $border-radius;
			cursor: pointer;

			i.fa {
				font-size: $icon-size;
			}
		}
	}

	div.fca_fbc_poll_frontend_component_top {
		background: $background-color;
		height: 5px;
		border-top-left-radius: $border-radius;
		border-top-right-radius: $border-radius;
	}

	div.fca_fbc_poll_frontend_component_content {
		background: $background-color;
		padding: $spacing-large;

		div.fca_fbc_poll_frontend_component_question {
			div.fca_fbc_poll_frontend_component_answer {
				margin: $spacing-large 0;
				max-width: $max-width;

				@import "PollChoice";
				@import "PollLong";
			}
		}

		div.fca_fbc_poll_frontend_component_text {
			max-width: $max-width;
			text-align: center;
			line-height: 1.4em;
		}

		div.fca_fbc_poll_frontend_component_buttons {
			text-align: right;

			div.fca_fbc_poll_frontend_component_button {
				display: inline-block;
				padding: $spacing-small ($spacing-small * 3);
				border-radius: $border-radius;

				&.fca_fbc_poll_frontend_component_button_enabled {
					background: $button-enabled-background-color;
					color: $button-enabled-foreground-color;
					cursor: pointer;
				}

				&.fca_fbc_poll_frontend_component_button_disabled {
					background: $button-disabled-background-color;
				}

				i.fa {
					font-size: 16px;
					margin-left: $spacing-small;
				}
			}
		}

		div.fca_fbc_poll_frontend_component_message {
			display: none;

			div.fca_fbc_poll_frontend_component_text {
				margin-bottom: $spacing-large;
			}
		}
	}

	div.fca_fbc_poll_frontend_component_button {
		white-space: nowrap;

		div.fca_fbc_poll_frontend_component_button_text,
		i.fa.fca_fbc_poll_frontend_component_button_icon {
			display: inline-block !important;
		}

		i.fa.fca_fbc_poll_frontend_component_button_icon {
			font-size: $icon-size;
		}
	}
}
