$font-family: sans-serif;
$font-size: 14px;

$border-radius: 7px;
$max-width: 280px;

$spacing-large: 10px;
$spacing-small: ceil($spacing-large / 2);

$icon-size: 18px;

$choice-size: 20px;
$choice-icon-size: 14px;
