<div class="fca_fbc_poll_frontend_component">

	<div class="fca_fbc_poll_frontend_component_handle_container">
		<div class="fca_fbc_poll_frontend_component_handle"><i class="fa"></i></div>
	</div>

	<div class="fca_fbc_poll_frontend_component_top"></div>

	<div class="fca_fbc_poll_frontend_component_content">

		<div class="fca_fbc_poll_frontend_component_question">
			<div class="fca_fbc_poll_frontend_component_text">{{ poll_question }}</div>
			<div class="fca_fbc_poll_frontend_component_answer">{{{ poll_answer_partial }}}</div>
			<div class="fca_fbc_poll_frontend_component_buttons">
				<div class="fca_fbc_poll_frontend_component_button fca_fbc_poll_frontend_component_button_send fca_fbc_poll_frontend_component_button_enabled">
					Send
					<i class="fa fa-angle-right"></i>
				</div>
			</div>
		</div>

		<div class="fca_fbc_poll_frontend_component_message">
			<div class="fca_fbc_poll_frontend_component_text">
				Thank you for answering this poll. Your feedback is highly appreciated!
			</div>
			<div class="fca_fbc_poll_frontend_component_buttons">
				<div class="fca_fbc_poll_frontend_component_button fca_fbc_poll_frontend_component_button_close fca_fbc_poll_frontend_component_button_enabled">
					Close
				</div>
			</div>
		</div>

	</div>

</div>
