{{#poll_choices}}
    <div class="fca_fbc_poll_frontend_component_choice">
		<div class="fca_fbc_poll_frontend_component_choice_checkbox_container">
            <div class="fca_fbc_poll_frontend_component_choice_checkbox"><i class="fa fa-check"></i></div>
        </div>
		<div class="fca_fbc_poll_frontend_component_choice_text_container">
		    <div class="fca_fbc_poll_frontend_component_choice_text">{{ text }}</div>
        </div>
    </div>
{{/poll_choices}}
